body{
    display: flex;
}
div
{
    margin: 0px 10px;   
    width: 100px;
    height: 100px;
    
}
#a{
    background-color: aqua;

}
#b{
    background-color: brown;
}
#c{
    background-color: blueviolet;
}