#h1_1
{
    color: red;
    text-align: center;
}
#h1_2
{
    text-align: center;
    font-size: 80%;
    font-style: italic;
}
body
{
    display: block;
    background-color: antiquewhite;
    text-align: center;
}
footer
{
    text-align: center;
    position: fixed;
}